<h1 class='text-center mt-5'>Course Listing</h1>
<%= link_to 'Search Courses', search_courses_path, class: 'btn btn-primary'%>

<div class="container mt-5">
  <div class="row">
    <% courses.each do |course| %>
      <div class="col-sm-4">
        <div class="card mb-5">
          <div class="card-body">
            <h5 class="card-title"><%= course.short_name %>: <%= course.name %></h5>
            <p class="card-text"><%= course.description %></p>
            <hr class='divider'>
            <%= button_to 'Enroll', student_courses_path(student_course: { student: current_student, course: course }), method: :post, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
