<h1 class='text-center mt-5'>Course Listing</h1>

<div class="container mt-5">
  <div class="row">
    <% courses.each do |course| %>
      <div class="col-sm-4">
        <div class="card mb-5">
          <div class="card-body">
            <h5 class="card-title"><%= course.short_name %>: <%= course.name %></h5>
            <p class="card-text"><%= course.description %></p>
            <hr class='divider'>
            <%= link_to 'Read more', '#', class: 'btn btn-primary' %>
            <%= link_to 'Enroll', '#', class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
